body,
table{
   border-collapse: separate;
   font-size: 30px;
}
.OutsideImage img{
    height: 200px;
    width: calc(100%);
}
/*comma specifies th and td*/
th,
td{
   border: 1px solid #c6c7cc;
   padding: 10px 15px;
}
/*This means that tr comes under tbody*/
/*tbody tr:nth-child(even){
    background: lightgrey;
}*/
thead{
    background: 395870;
    color: white;
    background: linear-gradient(red,black);
}
img{
    height: 500px;
    width: 460px;
}
body{
    background: url("Photos/backgroundWS.jpg");
    color: white;
}





